input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {

	&:focus {
		outline: 0;
	}
}

button {
	border: 0;
	outline: 0;
	background: transparent;
}

.searchFormBox {
	position: relative;
    width: 208px;
	input {
		height: 35px;
		padding: 5px 30px 5px 10px;
		border: 1px solid transparent;
		//color: $black;

        &:focus {
            //border-color: $yellow;
        }
	}

	button {
		position: absolute;
		top: 0;
		right: 0;
		width: 30px;
		height: 35px;

		img {
			position: relative;
			top: -1px;
			width: 16px;
			height: 14px;
		}
	}
}
