//transition
.transition {
	transition: all .4s;
}

/* Media Query
============================================ */

@mixin mobile {
  @media only screen and (max-width: 480px){
    @content;
  }
}

@mixin mobileLandscape {
  @media only screen and (max-width: 767px){
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: 991px){
    @content;
  }
}

@mixin desktop {
  @media only screen and (max-width: 1199px){
    @content;
  }
}


@include desktop {
    .container {
        width: 100% !important;
    }
}

@include tablet {
	.tpnone {
		padding-left: 0;
		padding-right: 0;
	}
}

@include mobileLandscape {
	.mpnone {
		padding-left: 0;
		padding-right: 0;
	}
}

@include mobile {
	.col-100 {
		width: 100%;
	}
}


 @media only screen and (max-width: 600px){
 	.col-6-100 {
		width: 100%;
	}
 }
